<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>bleh</title>
  <link rel="stylesheet" href="main.css" />
</head>
<body>
        <!-- top bar -->
        <div class="nav-top">
            <a href="/"><img src="molly.png" alt="high mouse cherishing lunix. but fr tho, we need logo and stuff"></a>
            <h1>Headline</h1>
            <form action="#">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="nf-fa-search"> </i></button>
            </form>
        </div>

        <!-- everything underneath the top bar -->
         <div class="container-main">
         <div class="sidebar-left">
                <!-- nav menu -->
            <div class="nav-main">
            <a href="#" class="button" id="btn-1">About</a>
            <a href="#" class="button" id="btn-2">Linuxposting News</a>
            <a href="#" class="button" id="btn-3">Announcements</a>
            <a href="#" class="button" id="btn-4">News</a>
            <a href="#" class="button" id="btn-5">Molly's Page</a>
            </div>
            <div class="nav-main">
            <a href="/register/" class="button" id="btn-6">Register</a>
            <a href="#" class="button" id="btn-7">Contact Us</a>
            <a href="#" class="button" id="btn-8">Theme Selection</a>
            </div>
                <!-- icons at the bottom -->
                <div class="nav-icons">
            <a href="#" class="button" id="mbr-btn">
                    <img src="icon.png">Members
                    <!-- This links to the list -->
                    <!-- Icon with multiple mice including Molly -->
            </a>
            <a href="#" class="button" id="waf-btn">
                    <img src="icon.png">Wafrn
                    <!-- Molly with waffle icon -->
            </a>
            <a href="#" class="button" id="mail-btn">
                    <img src="icon.png">Mail
                    <!-- Molly with letter icon -->
            </a>
            <a href="#" class="button" id="frm-btn">
                    <img src="icon.png">Forum
                    <!-- Molly with music icon -->
            </a>
                </div>
        </div>
        <div class="content">
            <p>text</p>
        </div>

        <div class="sidebar-right">
            <!-- the chapter or link list at the top right -->
            <div class="content-table">
                <h5>Table of Contents</h5>
            <ol>
                <li>If we had content with chapters, it would go here</li>
                <li>Oh yeah, very good structure</li>
                <li>another point</li>
            </ol>
            </div>
            <div class="news">
            <div class="news-item">
                <h5>Announcements</h5>
                <p>Server restart at 23:00 UTC</p>
                </div>
                <a href="/feed.xml" class="button-small">
                    <img src="icon.png">RSS Feed
                    <!-- Pixel Molly with 'RSS icon' icon -->
            </a>
            </div>
            <div class="news">
            <div class="news-item">
                <h5>NEWS NEWS NEWS</h5>
                <p>Read here more about whatever shenanigans we are up to</p>
            </div>
            <a href="#" class="button-small">
                    <img src="icon.png">Read more
                    <!-- Pixel Molly with 'RSS icon' icon -->
            </a>
            </div>
        </div>
        </div>
</body>
</html>