@import url(../themes/colors.css);

/* basics */
html, body {
    margin:0px;
    padding: 0px;
    gap: 0px;

    font-family: "Hermit NF Mono Regular", monospace;
    font-size: 14px;
    color:var(--t-color);
    background-color: var(--bg-darkest);
}
h1, h2, h3, h4, h5 {
    font-family: Inter, sans-serif;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
    text-transform: capitalize;
}

a {
    color: var(--a-color);
}
::selection {
    background-color: var(--s-color);
}
li {
    padding-bottom: 8px;
}
  
#search {
    background-color: var();
    border: 1px solid var();
}

input[type=text] {
    background-color: var(--bg);
    color: var(--t-color);
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--fg-lighter);
    border-right-color: var(--fg-lighter);
    border-bottom-color: var(--fg);
    border-left-color: var(--fg);
    padding:3px;
}
input[type=text]:focus {
    background-color: var(--bg);
    border-top-color: var(--fg-lightest);
    border-right-color: var(--fg-lightest);
    border-bottom-color: var(--fg-lighter);
    border-left-color: var(--fg-lighter);
    outline: none;
}
button[type=submit] {
box-sizing: border-box;
padding:0px 2px;
margin: 0;
}
/* class styled as big button */
.button {
    display:inline-flex;
    flex-flow: column;

    background-color: var(--bg-darker);
    color: var(--t-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;

    border-width: 2px;
    border-style: solid;
    border-top-color: var(--fg-lighter);
    border-right-color: var(--fg-lighter);
    border-bottom-color: var(--fg);
    border-left-color: var(--fg);

    padding: 8px 16px;
    align-self: stretch;
    text-align: center;
}
.button:hover {
    background-color: var(--bg);
    border-top-color: var(--fg-lightest);
    border-right-color: var(--fg-lightest);
    border-bottom-color: var(--fg-lighter);
    border-left-color: var(--fg-lighter);
}
.button:active {
    background-color: var(--bg-darkest);
    border-top-color: var(--fg-lighter);
    border-right-color: var(--fg-lighter);
    border-bottom-color: var(--fg);
    border-left-color: var(--fg);
}

/* real big button */
button {
    display:inline-flex;
    flex-flow: column;

    background-color: var(--bg-darker);
    color: var(--t-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;

    border-width: 2px;
    border-style: solid;
    border-top-color: var(--fg-lighter);
    border-right-color: var(--fg-lighter);
    border-bottom-color: var(--fg);
    border-left-color: var(--fg);

    padding: 4px;
    align-self: stretch;
    text-align: center;
}
button:hover {
    background-color: var(--bg);
    border-top-color: var(--fg-lightest);
    border-right-color: var(--fg-lightest);
    border-bottom-color: var(--fg-lighter);
    border-left-color: var(--fg-lighter);
}
button:active {
    background-color: var(--bg-darkest);
    border-top-color: var(--fg-lighter);
    border-right-color: var(--fg-lighter);
    border-bottom-color: var(--fg);
    border-left-color: var(--fg);
}

/* class styled as small button */
.button-small {
    display:inline-flex;
    flex-flow: row;

    background-color: var(--bg-darker);
    color: var(--t-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;

    border-width: 2px;
    border-style: solid;
    border-top-color: var(--fg-lighter);
    border-right-color: var(--fg-lighter);
    border-bottom-color: var(--fg);
    border-left-color: var(--fg);

    padding: 4px 8px;
    align-self: center;
    text-align: center;
}
.button-small:hover {
    background-color: var(--bg);
    border-top-color: var(--fg-lightest);
    border-right-color: var(--fg-lightest);
    border-bottom-color: var(--fg-lighter);
    border-left-color: var(--fg-lighter);
}
.button-small:active {
    background-color: var(--bg-darkest);
    border-top-color: var(--fg-lighter);
    border-right-color: var(--fg-lighter);
    border-bottom-color: var(--fg);
    border-left-color: var(--fg);
}

.button-small img {
    aspect-ratio: 1/1;
    max-height:16px;
    padding-right: 4px;
    align-self: center;
}

/* top nav */
.nav-top {
    display:flex;
    flex-direction: row;
    
    width: 98%;
    height: var(--top-height);

    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding: 0px 16px;

    border-bottom: 2px solid var(--fg);
}
.nav-top img {
    max-height: 74px;
}

/* everything else */
.container-main {
    display: flex;
    flex-direction: row;
}

/* main nav */
.sidebar-left {
    width: 16.6%;
    height: calc(100dvh - var(--top-height));
    justify-content: space-between;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-right: 2px solid var(--fg);
}

.nav-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 16px;
    width: fit-content;
    padding: 16px;

}

.nav-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-content: center;
    align-items: center;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}
/* buttons of main nav */

.nav-icons a {
    aspect-ratio: 1/1;
}

.nav-icons a img {
    max-width: 48px;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 0;
}

/* main content */
.content {
    display: flex;
    flex-direction: column;
    width:66.6%;

    padding: 16px;
    background-color: var(--bg);
}

/* right nav */
.sidebar-right {
    width: 16.6%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 16px;
    border-left: 2px solid var(--fg);
}

/* content table */
.content-table {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 16px;
}
/* news */
.news {
    background-color: var(--bg-darker);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding: 16px;
    gap: 16px;
}
.news-item {

}
